{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="shortcut icon" href="{% static 'core/img/LOGOFUTBOL.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'core/img/LOGOFUTBOL.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/admin.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
{% endblock %}

{% block branding %}
    <div class="branding-logo-wrap">
        <img src="{% static 'core/img/LOGOFUTBOL.png' %}" alt="El Potrero" class="branding-logo">
        <div class="branding-text">
            <h1 id="site-name">El <span>Potrero</span></h1>
            <p>Panel administrativo</p>
        </div>
    </div>
{% endblock %}


